main {
  text-align: center;
  color: white;
  border: 4px solid black;
  background-color: rgb(22, 147, 151);
}

.result {
  text-align: center;
  border: 2px solid rgb(22, 147, 151);
}
body {
  display: grid;
  grid-template-columns: auto 200px;
  grid-template-areas:
    "header header "
    "content sidebar"
    "footer sidebar";
}

main {
  grid-area: header;
}

.history {
  grid-area: sidebar;
}
