main {
  text-align: center;
  color: white;
  border: 4px solid black;
  background-color: rgb(22, 147, 151);
  grid-column: span 2/4;
  padding-top: 50px;
}

.result {
  text-align: center;
  border: 2px solid rgb(22, 147, 151);
}

body {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 3fr 2fr;
}

.result {
  grid-column: span 2/4;
}
